*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
}
.container_box{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/nuevo_fondo2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container::before{
    content:'';
    position: absolute;
    background-color: rgba(208, 251, 247, 0.153);
    width: 100%;
    height: 100%;
}
.container_box{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 2em 40px;
}
.container_box nav{
    width: 100%;
    height: 90px;
    padding: 20px 0;
}
.container_box nav .menu{
    display: flex;
}
.container_box nav .menu li{
    list-style: none;
}
.container_box nav .menu li a{
    margin-right: 1em;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}
.container_box .container_text{
    width: 40%;
}
.container_box .container_text h1{
    color:#fff;
    font-weight: bolder;
    margin-bottom: 1.25rem;
}
.container_box .container_text h1 .title{
    font-size: 3.25rem;
}
.container_box .container_text h1 .subtitle{
    font-size: 1.5rem;
}
.container_box .container_text p{
    margin-bottom: 1.25rem;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
}
.container_text a{
    width: 300px;
    color: #fff;
    padding: .5rem 1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    /* font-size: 20px; */
}
.container_text a:hover{
    background-color: rgb(255, 255, 255);
    color: #000;    
}
@media(max-width:1000px){
    .container_box nav .menu li a{
        justify-content: center;
        align-items: center;
    }
    .container_box .container_text{
        text-align: center;
        width: 30%;
    }
    .container_box .container_text h1 .title{
        font-size: 10px;
        align-items: center;
    }

@media(max-width:650px){
    .container_box, .container .container_box nav .menu li a{
        justify-content: center;
        align-items: center;
    }
    .container_box .container_text{
        text-align: center;
        width: 30%;
    }
    .container_box .container_text h1 .title{
        font-size: 10px;
        align-items: center;
    }
}
}

/*ESTILOS PARA LOS DEMAS MENU*/
.container_other{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-image: url(../svg/endless-constellation.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.container_other .container_other_box{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 0;
}
.container_other .container_other_box nav{
    width: 100%;
    /* height: 90px; */
    padding: 20px 0;
    position: fixed;
    background-color: #000;
}
.container_other .container_other_box nav .menu{
    display: flex;
}
.container_other .container_other_box nav .menu li{
    list-style: none;
}
.container_other .container_other_box nav .menu li a{
    margin-right: 1em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 20px;
    margin-left: 30%;
}
.container_other .container_other_box nav .menu li a:hover{
    background-color: rgb(255, 255, 255);
    color: #000;
}
.container_other .container_other_box .container_other_text{
    padding: 1.5rem;
    width: 100%;
}
.container_other .container_other_box .container_other_text h1{
    margin-top: 5%;
    color:rgb(0, 0, 0);
    font-weight: bolder;
    margin-bottom: 1.25rem;
}
.container_other .container_other_box .container_other_text h1 .title{
    font-size: 3.25rem;
}
.container_other .container_other_box .container_other_text h1 .subtitle{
    font-size: 1.5rem;
}
.container_other .container_other_box .container_other_text p{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}
.container_other .container_other_text a{
    width: 300px;
    color: #fff;
    padding: .5rem 1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    /* font-size: 20px; */
}
.container_other .container_other_text a:hover{
    background-color: rgb(255, 255, 255);
    color: #000;     
}

/* ESTILOS DE HTML CONTACTO*/
.formulario_datos{
    background-color: #fff;
    padding: 30px;
    margin: 0 20%;
    font-family: Arial, Helvetica, sans-serif;
}
.formulario_datos .titulo_formulario{
    font-size: 30px;
    text-align: center;
}
.formulario_datos .label_formulario{
    font-size: 16px;
}  
.input_datos{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.467);
    font-size: 16px;
}
.input_datos:focus{
    background-color: rgb(30, 34, 36);
    color: #fff;
}

.datos_completados{
    background-color: rgb(189, 185, 185);
    padding: 30px;
    margin: 10px 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/**/
/* ESTILOS DE HTML COTIZAR*/
.formulario_cotizar{
    background-color: #fff;
    padding: 30px;
    margin: 0 20%;
    font-family: Arial, Helvetica, sans-serif;
}
.formulario_cotizar .label_formulario{
    font-size: 16px;
}  
.selectCotizar{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 30px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.467);
    font-size: 16px;
}
.mostrarCotizacion{
    background-color: rgb(189, 185, 185);
    padding: 30px;
    margin: 10px 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
/**/


/* ESTILOS PARA BOTON HTML CONTACTO*/
/* button {
   --button_radius: 0.75em;
   --button_color: #e8e8e8;
   --button_outline_color: #000000;
   font-size: 17px;
   font-weight: bold;
   border: none;
   border-radius: var(--button_radius);
   background: var(--button_outline_color);
   margin-top: 10px;
  }
.boton_formulario {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}
button:hover .boton_formulario {
   transform: translateY(-0.33em);
  }
  
button:active .boton_formulario{
   transform: translateY(0);
  } */
/**/






@media(max-width:1000px){
    .container_other, container_other .container_other_box, .container_other .container_other_box nav .menu li a{
        justify-content: center;
        align-items: center;
    }
    .container_other .container_other_box .container_other_text{
        text-align: left;
        width: 100%;
    }
    .container_other, .container_other .container_other_text h1 .title{
        font-size: 13px;
        align-items: center;
    }

@media(max-width:650px){
    .container_other, container_other .container_box, .container_other .container_box nav .menu li a{
        justify-content: center;
        align-items: center;
    }
    .container_other .container_other_box .container_other_text{
        text-align: left;
        width: 100%;
    }
    .container_other, .container_other .container_other_text h1 .title{
        font-size: 13px;
        align-items: center;
    }
    .container_other .container_other_box .container_other_text h1{
        margin-top: 10%;
    }
}
}

