.fondo{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 100vh;
    background-image: url(../img/nuevo_fondo2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.texto-fondo{
    margin-left: 5%;
    color: aliceblue;
}

.fondo .texto-fondo a{
    color: aliceblue;
    text-decoration: none;
}
.fondo .texto-fondo a:hover{
    color: black;
    background-color: aliceblue;
    padding: 5px;
    transition: 0.2s;
}